{
    "presets": [
        "es2015-node4"
    ],
    "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "transform-es2015-for-of",
        "transform-es2015-arrow-functions",
        "transform-es2015-destructuring"
    ]
}
